<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fataneapi01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ef4bd074-03b7-40e0-9fe3-e9781366e4bd/resourceGroups/rg-ta-ne-01/providers/Microsoft.Web/sites/fataneapi01</ResourceId>
    <UserName>$fataneapi01</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fataneapi01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>